
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/ZorkClone/CSS/global.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Zork Clone</title>
</head>

<body class="gameMode shake noScrolls">
	<div class="header">
		<div class="mainTitle">
			<a class="headerLink" href="/ZorkClone/"><h1 class="spinIn">ModularZorkLite</h1></a>
		</div>

	</div>
	<div class="register-form login-form">
		<a href="/ZorkClone/login" tabindex="-1">
			<button class="formButton shakeHover" type="submit">Login</button>
		</a> <a href="/ZorkClone/register" tabindex="-1">
			<button class="formButton shakeHover" type="submit">Register</button>
		</a>
	</div>








</body>
<footer>
	<div class="header">
		<div class="row footer-row">
			<div class="col-6 copyright">
				<p>Like that animation? No? Too bad!</p>
			</div>
		</div>
	</div>
</footer>
</html>