
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" th:href="@{/CSS/global.css}"/>
<title>ZorkClone</title>
<script>
	function overwrite() {
		if (document.getElementById("overwrite").innerHTML == "overwrite") {
			document.getElementById("overwriteCheckBox").checked = true;
		}
	}
	function loadDirections() {
		var directions = document.getElementById("directions").innerHTML;
		if (directions.includes("NORTH")) {
			document.getElementById("north").selected = true;
		}
		if (directions.includes("NORTHEAST")) {
			document.getElementById("northeast").selected = true;
		}
		if (directions.includes("EAST")) {
			document.getElementById("east").selected = true;
		}
		if (directions.includes("SOUTHEAST")) {
			document.getElementById("southeast").selected = true;
		}
		if (directions.includes("SOUTH")) {
			document.getElementById("south").selected = true;
		}
		if (directions.includes("SOUTHWEST")) {
			document.getElementById("southwest").selected = true;
		}
		if (directions.includes("WEST")) {
			document.getElementById("west").selected = true;
		}
		if (directions.includes("NORTHWEST")) {
			document.getElementById("northwest").selected = true;
		}
		if (directions.includes("UP")) {
			document.getElementById("up").selected = true;
		}
		if (directions.includes("DOWN")) {
			document.getElementById("down").selected = true;
		}
	}
</script>
</head>
<body onload="overwrite(); loadDirections()" class="gameMode">
	<div class="header">
		<div class="mainTitle">
			<a class="headerLink" href="/ZorkClone/"><h1
					th:text="'ModularZorkLite
					('+${session.user.username}+')'"></h1></a>
		</div>
		<div class="rightHeader" id="navbarSupportedContent">

			<a class="nav-link" href="/ZorkClone/logout"><button
					class="formButton shakeHover" type="submit">Logout</button></a> <a
				class="nav-link" href="/ZorkClone/userHome"><button
					class="formButton shakeHover" type="submit">Homepage</button></a>

		</div>
	</div>
	<div class="register-form">
		<h3>Create room</h3>
		<p th:text="${error}"></p>

		<form th:object="${room}" method="POST" th:action="@{/createRoom}">
			<input type="checkbox" id="overwriteCheckBox" name="overwrite"
				value="overwrite"> Overwrite if room already exists?<br>
			<div class="form-row">
				<div class="centered">
					<label>Identification name</label>
				</div>
				<div class="input-group mb-2">
					<input th:field="*{name}" type="text" name="name"
						class="form-control" placeholder="Identification name"
						required="required" />
				</div>
				<div class="centered">
					<label>Display name</label>
				</div>
				<div class="input-group mb-2">
					<input th:field="*{displayName}" type="text" name="displayName"
						class="form-control" placeholder="Display Name"
						required="required" />
				</div>

				<div class="centered">
					<label>Room description</label>
				</div>
				<div class="input-group mb-2">
					<textarea th:field="*{description}"  name="description"
						class="form-control" placeholder="Room description"
						required="required" ></textarea>
				</div>

				<div class="centered">
					<label>Directions</label>
				</div>
				<div class="centered">
					<select name="direction" multiple>
						<option id="north" value="north">North</option>
						<option id="northeast" value="northeast">Northeast</option>
						<option id="east" value="east">East</option>
						<option id="southeast" value="southeast">Southeast</option>
						<option id="south" value="south">South</option>
						<option id="southwest" value="southwest">Southwest</option>
						<option id="west" value="west">West</option>
						<option id="northwest" value="northwest">Northwest</option>
						<option id="down" value="down">Down</option>
						<option id="up" value="up">Up</option>
					</select>
				</div>

				<div class="centered">
					<label>Rooms at directions, by room id, comma delineated</label>
				</div>
				<div class="input-group mb-2">
					<textarea name="rooms" class="form-control"
						placeholder="rooms" th:inline="text">[[${rooms}]]</textarea>
				</div>
				<div class="centered">
					<label>Items by item id, comma delineated</label>
				</div>
				<div class="input-group mb-2">
					<textarea  name="items" class="form-control"
						placeholder="Items" th:inline="text">[[${items}]]</textarea>
				</div>
				<div class="centered">
					<label>Actors by actor id, comma delineated</label>
				</div>
				<div class="input-group mb-2">
					<textarea name="actors" class="form-control"
						placeholder="Actors" th:inline="text">[[${actors}]]</textarea>
				</div>

			</div>
			<div class="form-group-login">
				<button name="submitButton" type="submit"
					class="formButton shakeHover" value="createRoom">Create</button>
				<button name="submitButton" type="submit"
					class="formButton shakeHover" value="deleteRoom">Delete</button>
			</div>
		</form>
	</div>
	<p id="overwrite" class="hidden" th:text="${ overwrite }"></p>
	<p id="directions" class="hidden" th:text="${ directions }"></p>
</body>
<footer>
	<div class="header">
		<div class="row footer-row">
			<div class="col-6 copyright">
				<p>Want every exit to go to the start room? You can do that, asshole!</p>
			</div>
		</div>
	</div>
</footer>
</html>