
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" th:href="@{/CSS/global.css}"/>
<title>ZorkClone</title>
<script>
	function myFunction() {
		console.log("Doing myFunction()");
		var input, filter, table, link, text, i, txtValue;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("roomList");
		link = table.getElementsByTagName("a");
		for (i = 0; i < link.length; i++) {
			text = link[i].getElementsByTagName("p")[0];
			if (text) {
				txtValue = text.textContent || text.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					link[i].style.display = "";
				} else {
					link[i].style.display = "none";
				}
			}
		}

	}
</script>

</head>
<body class="gameMode">
	<div class="header">
		<div class="mainTitle">
			<a class="headerLink" href="/ZorkClone/"><h1
					th:text="'ModularZorkLite
					('+${session.user.username}+')'"></h1></a>
		</div>
		<div class="rightHeader" id="navbarSupportedContent">

			<a class="nav-link" href="/ZorkClone/logout"><button
					class="formButton shakeHover" type="submit">Logout</button></a> <a
				class="nav-link" href="/ZorkClone/userHome"><button
					class="formButton shakeHover" type="submit">Homepage</button></a>

		</div>
	</div>
	<div class="register-form">
		<h3 id="charDisplay">Select room to edit (or manually type)</h3>
		<input type="text" id="myInput" onkeyup="myFunction()"
			placeholder="Search by name" title="Type in a name">
		<form></form>
		<div id="roomList">
			<div th:remove="tag" th:each="room, iterationStatus : ${rooms}">

				<a th:href="@{createRoom/{path}(path=${room.name})}"><p
						th:text="${room.name}"></p></a>
			</div>
		</div>
	</div>
	<p class="hidden" id="rooms" th:text="${ rooms }"></p>



</body>

<footer>
	<div class="header">
		<div class="row footer-row">
			<div class="col-6 copyright">
				<p>Are you reading all these? Why?</p>
			</div>
		</div>
	</div>
</footer>
</html>