<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="/ZorkClone/CSS/global.css">
<title>ZorkClone</title>
</head>

<body class="gameMode">
	<div class="header">
		<div class="mainTitle">
			<a class="headerLink" href="/ZorkClone/" tabindex="-1"><h1>ModularZorkLite</h1></a>
		</div>
		<div class="rightHeader" id="navbarSupportedContent">
			<a class="nav-link" href="/ZorkClone/register" tabindex="-1"><button
					class="formButton shakeHover" type="submit">Register</button></a>

		</div>
	</div>




	<div class="register-form login-form">
		<h3>Login</h3>
		<form th:object="${user}" method="POST" th:action="@{/login}">

			<div class="form-row">
				
				<div class="input-group mb-2">
					<input th:field="*{username}" type="text" name="UserName"
						class="form-control username" id="inlineFormInputGroup"
						placeholder="Username" />

				</div>
				<div class="input-group mb-2">
					<input th:field="*{password}" type="password" name="Password"
						class="form-control password" id="inlineFormInputGroup"
						placeholder="Password" />
				</div>
				<p class="incorrect" align="center" id="nonValidPassword" th:text="${loginError}"></p>
				<div class="form-group-login">
					<button type="submit" class="formButton shakeHover" value="Login">Login</button>
				</div>
			</div>
		</form>
	</div>




</body>

<footer>
	<div class="header">
		<div class="row footer-row">
			<div class="col-6 copyright">Nice, you made it to the login
				screen! Gj, bro.</div>
		</div>
	</div>
</footer>
</html>